@import "tailwindcss";

@font-face {
  font-family: "Noto Nastaliq Urdu";
  src: url("/fonts/NotoNastaliqUrdu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #1c398e; /* Blue theme */
  --color-secondary: #ffffff; /* White */
}

.text-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}
