@import "tailwindcss";

:root {
  --color-primary: #1c398e; /* Blue theme */
  --color-secondary: #ffffff; /* White */
}

.text-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}
